h1 {
    font-family: 'Avenir';
    font-weight: 200;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #dde640;
    margin: 1em 0;
    padding: 0;
}

.buttons {
    display: inline-block;
    margin: 20px auto;
}

button {
  border-radius: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Avenir-Black', arial, sans-serif;
}

#pass-button {
    background-color: #0ccfcf;
    border: 1px solid #20b5ba;
    padding: 10px 20px;
    color: white;
    margin-right: 20px;
}

#announcement-button {
    color: #666;
    border: 1px solid #666;
    background-color: white;
    padding: 10px 20px;
}