* {
    font-family: 'Avenir', arial, sans-serif;
}

h1 {
    font-family: 'Avenir';
    font-weight: 200;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #dde640;
    margin: 1em 0;
    padding: 0;
}

select {
  font-family: 'Avenir', arial, sans-serif;
}

.buttons {
    display: inline-block;
    margin: 20px auto;
}

button {
  border-radius: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Avenir-Black', arial, sans-serif;
}

.buttons button:hover,
.buttons .activeAnnouncement {
  background-color: #dde640;
  color: #fff;
  border: 1px solid transparent;
}

.buttons button {
  padding: 10px 20px;
  color: #666;
  border: 1px solid #666;
}

#pass-button {
    margin-right: 20px;
}

.loading {
  display: block;
  color: #666;
  font-size: 42px;
  font-family: 'Avenir-Black', arial, sans-serif;
  margin-top: 40px;
}