@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir'), url('../containers/Avenir.woff') format('woff');
}

.caller, button {
    font-family: 'Avenir';
}



#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caller {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 25%;
    margin: 20px auto;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    background: #577082;
    color: white;
    border-radius: 50%;
}

.phone-number {
    flex-basis: 60%;
    text-align: left;
    font-weight: bolder;
    color: #666666;
    font-size: 1.2rem;
}

.filler-info {
    margin-right: 10px;
}

#caret {
    cursor: pointer;
    color: rgb(41, 41, 41);
    font-size: 1.5rem;
    flex-basis: 1;
}

.recording-button {
    background-color: #ff3860;
    border-color: transparent;
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 5px 15px;
    height: 2.5em;
    outline: none;
    cursor: pointer;
}

.volume-buttons:last-child {
    margin-right: 0;
}

.volume-button {
    padding: 8px;
    border-radius: 15px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}