@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir'), url('../containers/Avenir.woff') format('woff');
}

.caller,
button {
    font-family: 'Avenir';
}

/*#center {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.callerContainer {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.caller {
    width: 300px;
    margin: 30px auto;
    display: block;
    text-align: left;
    position: relative;
}

.active .caller {
    z-index: 999;
}

.timer {
    font-family: 'Avenir';
    margin-top: 17px;
    margin-left: 10px;

    font-weight: bolder;
    color: #666666;
    font-size: 2rem;
}

.circle {
    font-family: 'Avenir-Black', arial, sans-serif;
    display: inline-block;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #666;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.phone-number {
    display: inline-block;
    text-align: left;
    color: #666666;
    font-size: 16px;
    margin: 0 40px 0 10px;
    width: 120px;
}

.filler-info {
    display: inline-block;
    align-items: center;
}

.timer {
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#caret {
    cursor: pointer;
    color: rgb(41, 41, 41);
    font-size: 1.5rem;
    flex-basis: 1;
}

.recording-button {
    background-color: transparent;
    border-color: #666;
    color: #666;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    height: auto;
    cursor: pointer;
    outline: none;
}

.volume-buttons:last-child {
    margin-right: 0;
}

.volume-button {
    padding: 8px;
    border-radius: 15px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}

.user-card {
    text-align: left;
    position: absolute;
    z-index: 9;
    top: -15px;
    left: -20px;
    display: block;
    width: 280px;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px 10px 20px 60px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.23);
}

.user-card-settings {
    font-size: 14px;
    color: #666;
    border-top: 1px solid #e9e9e9;
    padding-top: 20px;
}

.active .phone-number {
    /*color: #dde640;*/
    font-family: 'Avenir-Black', arial, sans-serif;
    font-weight: bold;
}

.active .circle {
    background-color: #dde640;
}

.recordingDot {
    height: 8px;
    width: 8px;
    margin-right: 15px;
    display: inline-block;
    background-color: #D470CC;
    border-radius: 50%;
}

.timerButtons {
    border-radius: 10px;
    font-family: 'Avenir';
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    color: #666666;
    font-weight: bolder;
}

.micAndTimer {
    position: absolute;
    display: block;
    min-width: 100px;
    right: -80px;
    top: 0;
}

.timerNumber {
    font-family: 'Avenir-Black', arial, sans-serif;
    color: #dde640;
    font-size: 14px;
    outline: none;
    width: auto;
    text-align: left;
    margin: 0px 15px;
    display: inline-block;
}

.micIcon {
    display: inline-block;

}

.voiceManipulation {
    height: 40px;
    line-height: 40px;
    width: 160px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.voice-title {
    height: 100%;
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #ccc;
    color: #666;
    font-family: 'Avenir-Black', arial, sans-serif;
}

select.field.is-grouped.volume-buttons {
    background: transparent;
    height: 38px;
    width: 90px;
    padding: 0;
    border: none;
    vertical-align: top;
    color: #666;
}