@font-face {
    font-family: 'Avenir-Light';
    src: url('/assets/webfonts/3821DB_0_0.eot');
    src: url('/assets/webfonts/3821DB_0_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_0_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_0_0.woff') format('woff'), url('/assets/webfonts/3821DB_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-LightOblique';
    src: url('/assets/webfonts/3821DB_1_0.eot');
    src: url('/assets/webfonts/3821DB_1_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_1_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_1_0.woff') format('woff'), url('/assets/webfonts/3821DB_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('/assets/webfonts/3821DB_2_0.eot');
    src: url('/assets/webfonts/3821DB_2_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_2_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_2_0.woff') format('woff'), url('/assets/webfonts/3821DB_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-BookOblique';
    src: url('/assets/webfonts/3821DB_3_0.eot');
    src: url('/assets/webfonts/3821DB_3_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_3_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_3_0.woff') format('woff'), url('/assets/webfonts/3821DB_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('/assets/webfonts/3821DB_4_0.eot');
    src: url('/assets/webfonts/3821DB_4_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_4_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_4_0.woff') format('woff'), url('/assets/webfonts/3821DB_4_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Oblique';
    src: url('/assets/webfonts/3821DB_5_0.eot');
    src: url('/assets/webfonts/3821DB_5_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_5_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_5_0.woff') format('woff'), url('/assets/webfonts/3821DB_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('/assets/webfonts/3821DB_6_0.eot');
    src: url('/assets/webfonts/3821DB_6_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_6_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_6_0.woff') format('woff'), url('/assets/webfonts/3821DB_6_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-MediumOblique';
    src: url('/assets/webfonts/3821DB_7_0.eot');
    src: url('/assets/webfonts/3821DB_7_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_7_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_7_0.woff') format('woff'), url('/assets/webfonts/3821DB_7_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('/assets/webfonts/3821DB_8_0.eot');
    src: url('/assets/webfonts/3821DB_8_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_8_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_8_0.woff') format('woff'), url('/assets/webfonts/3821DB_8_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-HeavyOblique';
    src: url('/assets/webfonts/3821DB_9_0.eot');
    src: url('/assets/webfonts/3821DB_9_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_9_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_9_0.woff') format('woff'), url('/assets/webfonts/3821DB_9_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('/assets/webfonts/3821DB_A_0.eot');
    src: url('/assets/webfonts/3821DB_A_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_A_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_A_0.woff') format('woff'), url('/assets/webfonts/3821DB_A_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-BlackOblique';
    src: url('/assets/webfonts/3821DB_B_0.eot');
    src: url('/assets/webfonts/3821DB_B_0.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/3821DB_B_0.woff2') format('woff2'), url('/assets/webfonts/3821DB_B_0.woff') format('woff'), url('/assets/webfonts/3821DB_B_0.ttf') format('truetype');
}